// Отступы контейнера
$paddingXs: 16px;
$paddingSm: 24px;
$paddingLg: 40px;
$paddingXlg: 48px;

// Breakpoints
$xxs: 320px;
$xs: 768px;
$sm: 960px;
$md: 1024px;
$lg: 1240px;
$xlg: 1440px;
$xxlg: 1680px;

$transitionDuration: 0.3s;
